<ion-header>
  <ion-toolbar>
    <ion-title>
      Attore {{attore.CodAttore}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item margin-top>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="attore.Nome" [disabled]="(this.modifica)"></ion-input>
    </ion-item>

      <ion-item>
        <ion-label floating>Anno nascita</ion-label>
        <ion-input type="number" [(ngModel)]="attore.AnnoNascita" [disabled]="(this.modifica)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nazionalità</ion-label>
        <ion-input type="text" [(ngModel)]="attore.Nazionalita" [disabled]="(this.modifica)"></ion-input>
      </ion-item>
      <button margin ion-button float-right position='bottom' *ngIf="this.modifica" (click)='modifica = false'>Modifica</button>
      <button margin ion-button float-right position='bottom' *ngIf="!this.modifica" (click)='salva(); modifica = true;'>Salva</button>
  </ion-list>
</ion-content>
