<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 margin-top>Benvenuto nel Database di Film!</h2>
  <p *ngIf="!scelta">
    Visualizza film o attori
  </p>
  <ion-list inset *ngIf="!scelta">
    <button ion-item *ngFor="let item of tabelle" (click)="itemSelected(item)">
      {{ item }}
    </button>
  </ion-list>
  <component-filmlist *ngIf="scelta=='Film'" [lista]="listaFilm" ></component-filmlist>
  <component-attorilist *ngIf="scelta=='Attori'" [lista]="listaAttori"></component-attorilist>
</ion-content>
