<ion-list inset>
  <button ion-button color="secondary" float-right (click)="openFilmModal({film: nuovo})">Aggiungi</button>
  <!-- <ion-item>
    <ion-label fixed>Numero di record</ion-label>
    <ion-input [(ngModel)]="num" type="number"></ion-input>
  </ion-item> -->
  <ion-item *ngFor="let item of lista">
    {{ item.Titolo }}
    <ion-icon name="eye" margin-right item-end (click)="openFilmModal({film: item})"></ion-icon>
    <ion-icon name="trash" item-end (click)="deleteFilm(item)"></ion-icon>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>
