<ion-list inset>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item col-3 push-8>
              <ion-label>Numero di record</ion-label>
              <ion-select [(ngModel)]="num" interface="popover">
                <ion-option value="10">10</ion-option>
                <ion-option value="15">15</ion-option>
                <ion-option value="25">25</ion-option>
                <ion-option value="50">50</ion-option>
                <ion-option value="100">100</ion-option>
              </ion-select>
            </ion-item>
      </ion-col>
      <ion-col col-1>
          <button ion-button color="secondary" block (click)="openFilmModal({film: nuovo})">Aggiungi</button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
<ion-list inset>
  <ion-item *ngFor="let item of lista  | paginate: { itemsPerPage: num, currentPage: p }">
    {{ item.Titolo }}
    <ion-icon name="eye" margin-right item-end (click)="openFilmModal({film: item})"></ion-icon>
    <ion-icon name="trash" item-end (click)="deleteFilm(item)"></ion-icon>
  </ion-item>
</ion-list>
<pagination-controls margin-top margin-bottom text-center class="my-pagination" (pageChange)="p = $event"></pagination-controls>

<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
